<div class="container-fluid">
        <br>
        <div class="title">
            Thông tin cá nhân
        </div>
        <br>
        <div class="row">
            <div class="col-sm-3">
                <div class="image">

                </div>
            </div>
            <div class="col-sm-2">
                <div class="lable1">
                    Họ và tên:
                </div>
                <div class="lable1">
                    Ngày sinh:
                </div>
                <div class="lable1">
                    Giới tính:
                </div>
                <div class="lable1">
                    Email:
                </div>
                <div class="lable1">
                    Điện thoại:
                </div>
            </div>
            <div class="col-sm-3">
                <div class="lable2">
                    {{ user.fullName }}
                </div>
                <div class="lable2">
                    {{ user.dob }}
                </div>
                <div class="lable2">
                    {{ user.gender }}
                </div>
                <div class="lable2">
                    {{ user.email }}
                </div>
                <div class="lable2">
                    {{ user.numberPhone }}
                </div>
            </div>
            <div class="col-sm-4">
                Quảng cáo nằm ở đây
                ( quảng cáo tuy khó chịu nhưng góp phần giúp chúng tôi duy trì trong web )
            </div>

        </div>
    
</div>