<div class="container-fluid">
    <div class="mt-2 mb-2">
        <Label>Tìm kiếm trường:</Label>
        <input type="text" placeholder="nhập tên trường" id="inputSearchSchool">
        <button class="btn btn-outline-primary mt-2" id="search">Tìm kiếm</button>
    </div>
    <div class="row">
        <div class="col-sm-3 colSort">
            <strong>Sắp xếp theo mã trường</strong>
            <br>
            <select name="sort" id="sortName" class="mt-2">
                <option selected>--Sắp xếp trường--</option>
                <option value="asc">Sắp xếp từ A -> Z</option>
                <option value="desc">Sắp xếp từ Z -> A</option>
            </select>
            <br>
            <button class="btn btn-outline-primary mt-2" id="sort">Sắp xếp</button>
        </div>
        <div class="col-sm-5" id="scroll">
            <table class="table table-bordered" >
                <thead class="thead-light">
                    <tr>
                        <th scope="col" class="stt">Mã trường</th>
                        <th scope="col">Tên trường Cao Đẳng - Đại Học</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let univer of univers">
                        <th scope="row">{{ univer.code }}</th>
                        <td> {{ univer.name }}</td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div class="col-sm-4">

        </div>
    </div>
</div>